.work {
    margin: auto;
    font-size: large;
    text-align: center;
    width: 50%;
    min-width: 400px;
}

.subwork {
    width: 90%;
    min-width: 400px;
    margin: auto;
    margin-bottom: 100px;
    text-align: left;
    border: .01px solid rgb(255, 255, 255);
}

.subwork * {
    padding: 0px 30px;
}

.subwork p {
    font-size: small;
}


.subwork iframe {
    width: 100%;
    padding: 0px;
}